<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>従業員一覧</title>
    <nav>
        <ul>
            <li><a th:href="@{/employee/list}">従業員管理</a></li>
            <li><a th:href="@{/report/list}">日報管理</a></li>
            <form method="post" th:action="@{/logout}">
        <input type="submit" value="ログアウト">
        </ul>
    </nav>
</head>
<body>
    <h1>Employee 削除</h1>
    <p>削除するコードを指定してください。</p>
    <form action="#" method="post" th:action="@{/employee/delete/{id}}" th:object="${employee}">
        <table>
            <tr>
            <th>コード</th>
            <td th:text="${employee.code}"></td>
            </tr>
        </table>
        <button type="submit">送信</button>
        <a th:href="@{'/employee/list'}">一覧に戻る</a>
    </form>
</body>
</html>